workflow.json
{
  "name": "Automated Reporting + Analytics — ${CLIENT_NAME}",
  "nodes": [
    {
      "id": "sched-rp",
      "name": "Monday 8am UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "leads-rp",
      "name": "Get New Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.zohoapis.com/crm/v7/Leads?fields=id,Last_Name,Lead_Status,Created_Time,Company&per_page=200",
        "headers": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Zoho-oauthtoken ${ZOHO_OAUTH_TOKEN}"
            },
            {
              "name": "If-Modified-Since",
              "value": "={{new Date(Date.now()-7*24*60*60*1000).toISOString()}}"
            }
          ]
        }
      }
    },
    {
      "id": "deals-rp",
      "name": "Get Closed Deals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        400
      ],
      "parameters": {
        "method": "GET",
        "url": "https://www.zohoapis.com/crm/v7/Deals?fields=id,Deal_Name,Amount,Stage,Closing_Date&per_page=100",
        "headers": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Zoho-oauthtoken ${ZOHO_OAUTH_TOKEN}"
            }
          ]
        }
      }
    },
    {
      "id": "metrics-rp",
      "name": "Calculate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "jsCode": "const leads = $('Get New Leads').first().json.data || [];\nconst deals = $('Get Closed Deals').first().json.data || [];\nconst qualified = leads.filter(l => ['Hot Lead','Qualified'].includes(l.Lead_Status)).length;\nconst revenue = deals.reduce((s, d) => s + (parseFloat(d.Amount) || 0), 0);\nconst conversion_rate = leads.length > 0 ? ((qualified / leads.length) * 100).toFixed(1) : 0;\nconst now = new Date();\nconst weekAgo = new Date(now - 7*24*60*60*1000);\nreturn [{ json: {\n  new_leads: leads.length,\n  qualified_leads: qualified,\n  deals_closed: deals.length,\n  revenue,\n  conversion_rate: parseFloat(conversion_rate),\n  week_start: weekAgo.toISOString().split('T')[0],\n  week_end: now.toISOString().split('T')[0]\n} }];"
      }
    },
    {
      "id": "claude-rp",
      "name": "Claude Narrative",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "headers": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$credentials.anthropicApiKey}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\"model\":\"claude-haiku-4-5\",\"max_tokens\":400,\"system\":\"You are a business analyst. Write a 3-sentence executive summary of weekly metrics. Be positive and actionable.\",\"messages\":[{\"role\":\"user\",\"content\":\"Weekly metrics for ${CLIENT_NAME}:\\n- New leads: \" + $json.new_leads + \"\\n- Qualified leads: \" + $json.qualified_leads + \"\\n- Deals closed: \" + $json.deals_closed + \"\\n- Revenue: $\" + $json.revenue + \"\\n- Conversion rate: \" + $json.conversion_rate + \"%\\n\\nWrite a brief executive summary.\"}]}"
      }
    },
    {
      "id": "build-rp",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ],
      "parameters": {
        "jsCode": "const metrics = $('Calculate Metrics').first().json;\nconst narrative = $input.first().json.content?.[0]?.text || 'Report generated.';\nconst CLIENT = '${CLIENT_NAME}';\nconst report = `# Weekly Report — ${CLIENT}\\n## Period: ${metrics.week_start} -> ${metrics.week_end}\\n\\n### Key Metrics\\n| Metric | Value |\\n|--------|-------|\\n| New Leads | ${metrics.new_leads} |\\n| Qualified | ${metrics.qualified_leads} |\\n| Deals Closed | ${metrics.deals_closed} |\\n| Revenue | $${metrics.revenue?.toFixed(2)} |\\n| Conversion | ${metrics.conversion_rate}% |\\n\\n### Executive Summary\\n${narrative}`;\nreturn [{ json: { report, metrics, narrative } }];"
      }
    },
    {
      "id": "send-rp",
      "name": "Send Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/${CLIENT_ID}-reports",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{$json.report}}"
      }
    },
    {
      "id": "output-rp",
      "name": "Report Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "report_date",
              "value": "={{new Date().toISOString().split('T')[0]}}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "metrics",
              "value": "={{$('Calculate Metrics').first().json}}",
              "type": "object"
            },
            {
              "id": "3",
              "name": "summary",
              "value": "={{$('Build Report').first().json.narrative}}",
              "type": "string"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Monday 8am UTC": {
      "main": [
        [
          {
            "node": "Get New Leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Closed Deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Leads": {
      "main": [
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Closed Deals": {
      "main": [
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Metrics": {
      "main": [
        [
          {
            "node": "Claude Narrative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Narrative": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report": {
      "main": [
        [
          {
            "node": "Send Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Report": {
      "main": [
        [
          {
            "node": "Report Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}